@import components/mixin
html
    font-size: 1px
body
    margin: 0 auto
body.lock
    overflow: hidden
.wrapper 
    margin: 0 auto
    width: 90%
    +media(1270)
        max-width: 1140rem
.flex
    display: flex
    
ul 
    align-items: center
    list-style: none
    padding-left: 0
a
    display: inline-block
    list-style: none
    text-decoration: none

.overflowX-hidden
    overflow-x: hidden

.white 
    +btn("white") 
    
.violet 
    +btn("violet")
.vio 
    +btn("vio")
//popup
.popup
    position: fixed
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .8)
    top: 0
    left: 0
    opacity: 0
    visibility: hidden
    overflow-x: hidden
    overflow-y: auto
    transition: all .5s ease
    z-index: 10
.popup.open
    opacity: 1
    visibility: visible
.popup.open .popup-content
    transform: translate(0, 0)
    opacity: 1
.popup-body 
    min-height: 100%
    padding: 30rem 10rem
    display: flex
    align-items: center
    justify-content: center
.popup-content
    position: relative
    padding: 10rem
    background-color: #fff
    border-radius: 3rem
    transition: all .5s ease
    opacity: 0
    transform: translateY(-80%)
    +media(768)
        padding: 30px
.popup-close
    position: absolute
    right: 10rem
    top: 10rem
    font-size: 24rem
    text-decoration: none
    color: black
    z-index: 2
#popupBl
    .blogPost
        padding: 0
        transform: translate(0,0)
        opacity: 1
        transition: all 1s ease
    .popup-content
        max-width: 90%
        +media(1170)
            max-width: 1150rem
    .blog-img
        padding-bottom: 20rem
        img
            height: 100%
    .text-post
        padding: 8rem
    .blogInfo
        margin-bottom: 30rem
        width: auto
    .blog-info
        width: 100%
    .text-info
        max-width: 100%
@import components/header
@import components/main
@import components/footer