.header(.data-bg="heade.jpg").parallax#home
    .header-section.flex
        .top.flex.wrapper
            .logo
                a(href="#") Startup
            .hamburger 
                    span 
                    span 
                    span    
            nav.navmenu.flex
                ul.top-menu.flex#menu
                    +menu(mainMenu)                                            
    .PricingTable._anim-start._anim-no
        h1 Welcome to STARTUP
        p Your Favourite Creative Agency Template
        a(class='white' href="#") Get Started
        