.header 
    background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)), url(../img/parallaxBG.jpg) 
    background-size: auto 100%
    background-repeat: no-repeat
    height: 100vh
    position: relative
    +media(768)
        background-size: 120% auto
.header-section
    position: fixed
    width: 100%
    left: 0
    right: 0
    transition: all .2s ease
    z-index: 10

.hambMenu
    align-items: center
.headerHid  
    transform: translateY(-100%)
.top
    align-items: center
    justify-content: space-between
    min-height: 60rem
.logo
    a
        margin: 0
        font-size: 24rem
        color: #ffffff
        font-weight: 700
        font-family: "Montserrat"
        &:hover
            color:#c0301c

.PricingTable
    position: absolute
    top: 40%
    left: 50%
    pointer-events: none
    text-align: center
    opacity: 0
    transform: translate(120%, 0%) 
    transition: all 1.5s ease
    h1
        margin: 0
        padding-top: 260rem
        font-size: 48rem
        text-transform: uppercase
        color: #ffffff
        font-weight: 400
        font-family: "Montserrat"
        
    p
        padding-top: 20rem
        padding-bottom: 70rem
        margin: 0
        font-size: 25rem
        color: #ffffff
        font-weight: 400
        font-family: "Montserrat"
    a
        
        pointer-events: all
.PricingTable._active-anim
    transform: translate(-50%, -50%)
    opacity: 1 !important
    
.top-menu 
    margin: 15rem 0
    li
        margin-right: 0rem
        +media(900)
            margin-right: 30rem
        a 
            font-size: 14rem
            letter-spacing: 0rem
            color: #ffffff
            font-weight: 400
            font-family: "Montserrat"
            padding: 15px 0px
            position: relative
            &::before
                content: ""
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                height: 2px
                background-color: transparent
            &:hover::before
                background-color: #fff
.top-menu
    li:last-child
        margin-right: 0
.navmenu
    text-align: left
    display: none   
    +media(900)
        display: flex
        position: relative   
        flex-direction: row
        top: 0      
        background: transparent

.hamburger
    height: 50px
    display: flex
    flex-direction: column
    justify-content: center
    z-index: 8
    +media(900)
        display: none
    span
        margin: 4px 0
        width: 35px
        height: 3px
        background-color: #fff
        border-radius: 5px
.active-burger 
    display: inline-block
    position: absolute
    ul
        padding-top: 60rem
        padding-right: 30rem
        display: flex
        justify-content: space-between
        margin: 0
        position: fixed
        flex-direction: column
        align-items: flex-end
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45))
        background-size: cover
        overflow: auto
    li
        a
            display: inline-block

.basket
    position: relative
    padding: 20rem
    z-index: 8
    svg
        fill: white
        width: 20px
        transition: all .5s ease
        cursor: pointer
        &:hover
            transform: scale(1.2)
    +media(900)
        margin-top: 7rem
.basket-counter
    opacity: 0
    position: absolute
    text-align: center
    font-weight: 700
    color: #f8f8f8
    font-size: 12rem
    border: 1px solid #f8f8f8
    top: 50%
    left: 60%
    border-radius: 50%
    width: 15px
    height: 15px
    background-color: transparent

