.main-service 
    text-align: center
    h2
        margin: 0
        padding-bottom: 15rem
        position: relative
        padding-top: 100rem
        font-size: 20rem
        text-transform: uppercase
        color: #555555
        font-weight: 400
        font-family: "Montserrat"
        &::before
            content: ""
            position: absolute
            width: 50rem
            height: 2rem
            background-color: #555
            bottom: -14%
            left: 50%
            transform: translate(-50%,-50%)
            box-sizing: border-box
            
    p
        margin: 0
        padding-top: 50rem
        padding-bottom: 70rem
        font-size: 16rem
        color: #555555
        font-weight: 40
        font-family: "Roboto Slab"
.service-list
    justify-content: center
    flex-direction: column
    +media(728)
        justify-content: center
        flex-direction: row
.clean
    opacity: 0
    transition: all 1s ease
    transform: translate(-120%, 0%) 

.clean._active-anim
    transform: translate(0%, 0%)
    opacity: 1
.rock-solid
    opacity: 0
    transition: all 1s ease
    transform: translate(0%, 60%) 
.rock-solid._active-anim
    transform: translate(0%, 0%)
    opacity: 1
.expert
    opacity: 0
    transition: all 1s ease
    transform: translate(120%, 0%) 
.expert._active-anim
    transform: translate(0%, 0%)
    opacity: 1
.personal
    text-align: center
    padding: 5rem
    cursor: pointer
    h3
        font-size: 14px
        text-transform: uppercase
        color: #555555
        font-weight: 400
        font-family: "Montserrat"
    p
        padding-bottom: 40rem
        font-size: 14px
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        +media(728)
            padding-bottom: 100rem
    &:hover .svg-figur
        background-color: #c0301c
    &:hover svg
        fill: #ffffff
    +media(728)
        max-width: 345rem

.svg-figur
    margin: 0 auto
    width: 90rem
    height: 90rem 
    border-radius: 50%
    border: 2px solid #dddddd
    transition: all .5s ease
    svg
        margin: auto
        fill: #c0301c

.about
    padding: 100rem 0
    background-color: #f8f8f8
    h2
        margin: 0
        padding-bottom: 30rem
        position: relative
        font-size: 20rem
        text-transform: uppercase
        color: #555555
        font-weight: 400
        font-family: "Montserrat"
        text-align: center
        &::before
            content: ""
            position: absolute
            width: 50rem
            height: 2rem
            background-color: #555
            bottom: -14%
            left: 50%
            transform: translate(-50%,-50%)
            box-sizing: border-box
    p

        font-size: 16px
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
.about-text
    flex-direction: column
    p
        opacity: 0
        transition: all 4s ease
        transform: translate(0%, 0%) 
        padding-bottom: 30rem
        text-align: left
        font-size: 14rem
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        +media(768)
            max-width: 335rem
        +media(968)
            max-width: 555rem
            padding-bottom: 70rem
            
    +media(768)
        justify-content: space-between
        flex-direction: row
    
.smazl
    background-color: black
.about-text p._active-anim
    transform: translate(0%, 0%)
    opacity: 1

.pt
    padding-top: 30rem
    padding-bottom: 70rem
    width: 90%
    margin: 0 auto
.cards-slider
    position: absolute
    width: 35rem
    height: 38rem
    top: 40%
    transform: translateY(-50%)
    background-color: rgba(#555, 0.2)
    //transition: all .3s ease
    z-index: 2
    cursor: pointer
    &:hover
        background-color: #c0301c
    &::before
        content: ""
        position: absolute
        width: 10px
        height: 10px
        border-right: 2px solid #ddd
        border-bottom: 2px solid #ddd
        border-radius: 1px
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) rotate(135deg)
        z-index: 3

.right
    right: 0
    &::before
        transform: translate(-50%, -50%) rotate(-45deg)

.ap
    img
        width: 100%
        min-height: 256rem
    figure
        margin: 0

.people-img
    position: relative
.about-people
    &:hover .employee-social
        opacity: 1
        visibility: visible
        transition: all .5s ease
.employee-social
    opacity: 0
    display: block
    position: absolute
    bottom: 10%
    left: 50%
    transform: translateX(-50%)
    a
        width: 30rem
        height: 30rem
        background: url(../img/sprite1.png) no-repeat
        transition: all 0.3s ease

    .fb 
        background-position: -7.5rem -7.5rem
        &:hover
            background-position: -5rem -54rem  
    .tw
        background-position: -48.5rem -8rem  
        &:hover
            background-position: -49rem -54rem 
    .gg
        background-position: -89.5rem -6rem 
        &:hover
            background-position: -91rem -55rem 
    .in
        background-position: -129.5rem -6rem 
        &:hover
            background-position: -130rem -56rem 

.latest-works
    padding: 100rem 0
    h2
        margin: 0
        position: relative
        padding-bottom: 30rem
        font-size: 20rem
        text-transform: uppercase
        color: #555555
        font-weight: 400
        font-family: "Montserrat"
        text-align: center
        &::before
            content: ""
            position: absolute
            width: 50rem
            height: 2rem
            background-color: #555
            bottom: -14%
            left: 50%
            transform: translate(-50%,-50%)
            box-sizing: border-box
.latest-menu
    padding-top: 30rem
    justify-content: center
    flex-direction: column
    +media(930)
        flex-wrap: nowrap
    +media(425)
        flex-direction: row
        flex-wrap: wrap
    a
        padding: 5rem 20rem
        font-size: 16rem
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
        &:hover
            color: #c0301c

.Get-in-Touch
    padding: 100rem 0
    text-align: center
    background: linear-gradient(rgba(#c0301c,0.45),rgba(#c0301c,0.45)), url(../img/glass2.jpg)
    background-size: auto 100%
    +media(768)
        background-size: 120% auto
    
    p
        pointer-events: none
        width: 90%
        margin: 0 auto
        padding-bottom: 20rem
        padding-bottom: 20rem
        font-size: 30px
        color: #ffffff
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
        +media(425)
            width: 100%
            margin: 0
            
.people-name
    font-size: 14px
    text-transform: uppercase
    color: #555555
    font-weight: 400
    font-family: "Montserrat"
.des-people
    padding-top: 15rem
    font-size: 13px
    color: #555555
    font-weight: 400
    font-family: "Roboto Slab"

.latest-img
    margin-top: 65rem
    flex-wrap: wrap
    display: flex
    gap: 30rem
    justify-content: center
.filterCategory.active_color
    color: #c0301c
.worksCards
    position: relative
    justify-self: center
    max-width: 100%
    &:hover .worksCardsHover
        visibility: visible
        opacity: 1
        transition: all .5s ease
    img
        width: 100%
        height: 100%
    +media(450)
        max-width: calc( 100% - 60%)
    +media(850)
        max-width: calc( 100% - 30%)

.worksCardsHover
    opacity: 0
    transition: all .5s ease
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    flex-direction: column
    justify-content: center
    align-items: center
    background: linear-gradient(rgba(#c0301c,0.45),rgba(#c0301c,0.45))
    .name
        font-size: 18px
        color: #ffffff
        font-weight: 400
        font-family: "Montserrat"
        text-align: center
    .category
        font-size: 20px
        line-height: 24px
        color: #ffffff
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
    .view
        border: 0
        padding: 10px 20rem
        font-size: 14px
        letter-spacing: 1px
        line-height: 24px
        text-transform: uppercase
        color: #c0301c
        background-color: #fff
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
        transition: all .5s ease
        &:hover
            transform: scale(1.2)
    .price
        font-size: 12px
        color: #ffffff
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
.anim-worksCards
    display: none
    
.blog
    padding-top: 100rem
    h2
        padding-bottom: 20rem
        position: relative
        margin: 0
        font-size: 20rem
        line-height: 24rem
        text-transform: uppercase
        color: #555555
        font-weight: 400
        font-family: "Montserrat"
        text-align: center
        &::before
            content: ""
            position: absolute
            width: 50rem
            height: 2rem
            background-color: #555
            bottom: -14%
            left: 50%
            transform: translate(-50%,-50%)
            box-sizing: border-box
    h5
        margin: 0
        padding: 28rem 0 70rem
        font-size: 16rem
        line-height: 24rem
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
.blogPost
    opacity: 0
    transition: all 2s ease
    transform: translate(-120%, 0%) 
    flex-direction: column
    +media(1032)
        flex-direction: row

.blogPost._active-anim
    transform: translate(0%, 0%)
    opacity: 1
.blogPostOne
    opacity: 0
    transition: all 2s ease
    transform: translate(-120%, 0%) 
    flex-direction: column
    +media(1032)
        flex-direction: row

.blogPostOne._active-anim
    transform: translate(0%, 0%)
    opacity: 1

.more-post
    transition: all .3s ease
    p.text-info
        padding: 0
        max-height: 0px
        color: transparent
        transition: all .3s ease

.blogPostOne.active
    .more-post
        p.text-info
            color: #555
            padding: 7rem 0
            max-height: 10000rem
.blog-img
    margin-bottom: 10rem
    height: 100%
    width: 100%
    +media(1025)
        width: 60%
        float: left
        margin-bottom: 0
        margin-right: 40rem
    img
        width: 100%
        height: 100%
        object-fit: cover 

.nameblog
    cursor: pointer
    p
        font-size: 16rem
        line-height: 24rem
        text-transform: uppercase
        color: #555555
        font-weight: 400
        font-family: "Montserrat"
        text-align: left
        +media(475)
            text-align: center
    i
        font-size: 13rem
        line-height: 24rem
        color: #777777
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
    
    &:hover span,
    &:hover p
        color: #c0301c

.blog-info
    width: 100%
    a
        font-size: 13rem
        letter-spacing: 1rem
        line-height: 24rem
        text-transform: uppercase
        color: #777777
        font-weight: 700
        font-family: "Roboto Slab"
        text-align: center
        &:hover
            color: #c0301c
.more-post
    p.text-info
        padding: 0
        margin: 0
        max-height: 0px
        color: transparent
        transition: all .3s ease
.text-info
    margin-bottom: 30rem
    font-size: 14rem
    line-height: 24rem
    color: #555555
    font-weight: 400
    font-family: "Roboto Slab"
.dataBlog
    margin-right: 20rem
    padding: 12rem
    border: 2rem solid #555555
    font-size: 24rem
    letter-spacing: 2rem
    line-height: 20rem
    text-transform: uppercase
    color: #777777
    font-weight: 700
    font-family: "Montserrat"
    text-align: center
    p
        margin: 0
.blogHr
    margin: 26rem 0
    height: 1rem
    background-color: #dddddd

.clientQuotesBrands
    background-color: #f8f8f8
    padding: 100rem 0
    margin-top: 100rem
.brands
    margin: 0 auto
    max-width: 900rem
    a
        display: inline-flex
        align-items: center
        text-align: center
        justify-content: center
        width: 142rem
        height: 50rem
        img
            height: 100%
            width: 100%
            object-fit: contain


.guote.activeFade
    opacity: 1
    visibility: visible
.dot-container
    margin: 0 auto
    left: 50%
    transform: translate(-50%)
.dot
    display: inline-block
    margin: 0 5rem
    width: 13rem
    height: 13rem
    border-radius: 50%
    background-color: #ddd
    transition: all .5s ease
    cursor: pointer
.dot.activeFade
    background-color: #c0301c
.guotes
    margin: 0 auto
    max-width: 790rem
.textGuote
    margin: 20rem auto
    width: 90%
    font-size: 18rem
    line-height: 30rem
    color: #555555
    font-weight: 400
    font-family: "Roboto Slab"
    text-align: center
.guote
    margin: 0 auto
    opacity: 0
    width: 100%
    h4
        margin: 20rem auto
        width: 90%
        font-size: 18rem
        line-height: 30rem
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
    p
        font-size: 18rem
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
        
.contact
    padding: 100rem 0
    h2
        position: relative
        padding-bottom: 30rem
        margin: 0
        font-size: 20rem
        text-transform: uppercase
        color: #555555
        font-weight: 400
        font-family: "Montserrat"
        text-align: center
        &::before
            content: ""
            position: absolute
            width: 50rem
            height: 2rem
            background-color: #555
            bottom: -14%
            left: 50%
            transform: translate(-50%,-50%)
            box-sizing: border-box
    h6
        margin: 0
        padding: 30rem 0 30rem
        font-size: 16rem
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        text-align: center
        +media(766)
            padding-top: 30rem
    
.mpex
    justify-content: space-between
    flex-direction: column-reverse
    +media(768)
        justify-content: space-between
        flex-direction: row
        padding-top: 50rem
        
.contactForm 
    width: 100%
    +media(768)
            width: 64%
    form
        flex-direction: column
        align-items: stretch
        width: 100%
    input,
    textarea
        box-sizing: border-box
        flex-direction: column
        margin: 10rem 0rem
        padding: 10rem 15rem
        text-transform: uppercase
        border: 1px solid #555555   
        &:focus
            outline: none
        &:focus-visible
            border: 1px solid #c0301c
    
    .name-mail
        color: #555555
        flex-direction: column
        column-gap: 10rem
        +media(1024)
            flex-direction: row
        input
            +media(769)
                width: 100%
        
    .phone-number
        flex-direction: column
        column-gap: 10rem
        +media(1024)
            flex-direction: row  
        input
            +media(769)
                    width: 100%

    .send-message
        align-items: center
        flex-direction: row
        p
            padding-left: 20rem
            position: relative
            font-size: 10rem
            color: #555555
            font-weight: 400
            font-family: "Roboto Slab"
            &::before
                position: absolute
                content: "*"
                width: 10rem
                height: 10rem
                color: #c0301c
                top: 0
                left: 10rem
            +media(425)
                font-size: 12rem
        input
            font-size: 12px
            letter-spacing: 1px
            text-transform: uppercase
            color: #555555
            font-weight: 400
            font-family: "Roboto Slab"
            background-color: #ffffff
            border: 1px solid #555555
            transition: all .5s ease
            cursor: pointer
            &:hover
                color: #ffffff
                background-color: #c0301c
.your-message
    text-align: left
    textarea 
        font-size: 12px
        text-transform: uppercase
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
        resize: vertical
        min-height: 40px
        max-height: 250px
        width: 100%


.contactInfo
    text-align: left
    flex-direction: row
    +media(768)
        text-align: left
        flex-direction: column
    p
        margin: 0
        font-size: 12rem
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
    h4
        margin: 0
        margin-bottom: 20rem
        font-size: 14rem
        text-transform: uppercase
        color: #555555
        font-family: "Myriad Pro"
    
.telHotline
    a
        font-size: 12rem
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"
.mp
    padding: 5rem 0 0
.contact-descr-mail
    a
        font-size: 12rem
        color: #555555
        font-weight: 400
        font-family: "Roboto Slab"

.mail
    padding: 10rem
    margin-bottom: 20rem
    a
        padding-left: 30rem
        transition: all .5s ease
        &:hover
            color: #c0103c
    h4
        padding-left: 30rem
        position: relative
        &::before
            position: absolute
            content: ""
            background: url(../img/sprite1.png) no-repeat
            background-position: -208.5rem -14rem 
            width: 20rem
            height: 16rem
            color: #c0301c
            top: 50%
            left: 0
            transform: translateY(-50%)
.telHotline
    padding: 10rem
    margin-bottom: 20rem
    a
        padding-left: 30rem
        transition: all .5s ease
        &:hover
            color: #c0103c
    h4
        padding-left: 30rem
        position: relative
        &::before
            position: absolute
            content: ""
            background: url(../img/sprite1.png) no-repeat
            background-position: -180.5rem -8rem 
            width: 20rem
            height: 27rem
            color: #c0301c
            top: 50%
            left: 0
            transform: translateY(-50%)
.address
    padding: 10rem
    margin-top: 30rem
    margin-bottom: 20rem
    p
        padding-left: 30rem
    h4
        padding-left: 30rem
        position: relative
        &::before
            position: absolute
            content: ""
            background: url(../img/sprite1.png) no-repeat
            background-position: -232.5rem -10rem 
            width: 20rem
            height: 20rem
            top: 50%
            left: 0
            transform: translateY(-50%)
    +media(768)
        margin-top: 0
.tok
    padding: 5rem 0 0
.ny
    padding-bottom: 5rem